<!-- AIMS Login 화면 -->
<!-- 2018.10.22 노홍균 -->
{% extends 'aims/base.html' %}
{% block content %}

    <div align=center>
        <div class="col-md-4" style="padding-left: 0px;  padding-right: 0px;">
        </div>

        <div class="h4 col-md-4" style="padding-left: 0px;  padding-right: 0px;">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <form class="form-group" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-danger" type="submit">로그인</button>
            </form>

        </div>
        <div class="col-md-4" style="padding-left: 0px;  padding-right: 0px;">
        </div>
    </div>

{% endblock %}