<!-- AIMS Logout 화면 -->
<!-- 2018.10.22 노홍균 -->
{% extends 'aims/base.html' %}
{% block content %}

    <div align=center>
        <div class="col-md-4" style="padding-left: 0px;  padding-right: 0px;">
        </div>

        <div class="h4 col-md-4" style="padding-left: 0px;  padding-right: 0px;">
            <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
            <h1 class="h3"> logged out </h1>
            <a href="{% url 'index' %}" class="btn">홈으로</a>
        </div>
        <div class="col-md-4" style="padding-left: 0px;  padding-right: 0px;">
        </div>
    </div>
{% endblock %}


